target/
.project
.settings
.classpath
project/target
.cache-main
/bin/
project/project
.cache-tests
.DS_Store
src/main/resources/lineorder_big.tbl
src/main/resources/lineorder_big1M.tbl
src/main/resources/lineorder_big_half.tbl
